body{
    margin: 0;
    background-color:rgb(117, 167, 117);
}
h1{
    color:white;
    text-align: center;
}
div{
    margin: 20px;
    padding: 8px;
    background-color: rgb(76, 116, 26);
    box-shadow: 2px 5px 5px rgb(76, 116, 26) ;
    border:none;
    border-radius: 25px;
}
#container{
    margin: 24px;
    padding: 24px;
    color: white;
    background-color: rgb(76, 116, 26);
    text-align: center;
}
#input{
    color: white;
    background-color: rgb(157, 161, 151);
    border: none;
    border-bottom: 1px solid rgb(117, 167, 117);
    border-left: 1px solid rgb(117, 167, 117);
}
#btn{
    border: none;
    border-radius: 8px;
    background-color: white;
}